*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/gradle.xml
.idea/vcs.xml
.idea/deploymentTargetSelector.xml

# -- Node.js 파일
server/node_modules/
server/npm-debug.log*
server/.env
server/postgres_data/
server/public/uploads/*
server/serviceAccountKey.json


app/google-services.json