<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smart_safety_management">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smart_Safety_Management">

        <!-- Splash 화면 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Title 화면 -->
        <activity
            android:name=".TitleActivity" />

        <!-- 회원가입 화면1 (근로자 or 관리자 선택) -->
        <activity
            android:name=".SignUp1Activity" />

        <!-- 회원가입 화면2 (본인인증) -->
        <activity
            android:name=".SignUp2Activity" />

        <!-- 회원가입 화면3 (아이디, 비밀번호 입력)-->
        <activity
            android:name=".SignUp3Activity" />

        <!-- 회원가입 화면4 (가입완료)-->
        <activity
            android:name=".SignUp4Activity" />

    </application>

</manifest>
